.nav {
  position: relative;
  flex-grow: 1;
  min-height: 500px;
  height: 100%;
  overflow: hidden;
  font-size: 1.2rem;
}

.nav ul {
  position: absolute;
  display: flex;  
  flex-direction: column;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  min-height: 400px;
  padding: 0%;
  list-style-type: none;
  overflow: auto;
}

.nav ul li {
  display: block;
  width: 100%;
}

.nav a {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  text-decoration: none;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  background: #f1f3f7;
  color: #5c6e86;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  font-size: 1.5rem;
  text-align: center;
  transition: all 1s ease-out;;
}
.nav ul li:nth-child(1){
    width: 50%;
}

.active {
  border-color:#5c6e86 !important;
}