.header {
  display: flex;
  justify-content: space-between;
  min-width: 10vh;
}

.header-sort {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 1.5rem;
}

.header-sort button {
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  background: #fff;
  color: #5c6e86;
  font-size: 1.2rem;
  cursor: pointer;
}
.btn-icon {
  display: flex;
  position: relative;
}

.drop-containter {
  position: relative;
}

.drop-list {
  position: absolute;
  background: #fff;
  top: 2rem;
  display: none;
}

.drop-list input {
  visibility: hidden;
  border: 1px solid #fff !important;
  margin: 0 !important;
  padding: 0 !important;
}
.drop-list input:checked + label {
  border: 1px solid #5c6e86 !important;
}

.drop-list label {
  margin: 0 !important;
  padding: 0 !important;
}

.drop-containter:hover .drop-list {
  z-index: 100;
  display: block;
}

.drop-item {
  display: flex;
}

.icon {
  float: left;
  max-width: 1.5rem;
  margin: 0 auto;
  margin-left: 0.5rem;
  margin-right: 0.5em;
}
